<!-- <h1>Hello World!</h1> -->
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <div [ngSwitch]="loginRole">
  <div *ngSwitchCase="'user'">
    Welcome User!!
  </div>

  <div *ngSwitchCase="'admin'">
    <hinv-rooms></hinv-rooms>
  </div>

  <div *ngSwitchDefault>
    You ae not authorized to view this page
  </div>
</div> -->
<!-- 
<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h3>This is from hinv-container.</h3>
</hinv-container>

<h1>
  <div #name></div>
</h1> -->

<!-- <div >
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<hr>
<a [routerLink]="'employee'">Employee</a>
<hr> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->